on:
  push:
    branches:
      - main
  pull_request:
  schedule: # daily at 04:00 UTC
    - cron: '0 4 * * *'

permissions:
  contents: read

name: govulncheck
jobs:
  govulncheck:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        id: install-go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run govalncheck
        run: |
          go run golang.org/x/vuln/cmd/govulncheck@latest ./...
